:root{
    --dark-blue: #2d314d;
    --lime-green: #31d341;
    --bright-cyan: #2bb7da;
    --grayish-blue: #9698a6;
    --light-grayish-blue: #f3f4f6;
    --very-light-gray: #fafafa;
    --normal-text-size: 18px;
}

body{
    font-family: "Public Sans", sans-serif;
    margin:0;
    opacity: 0;
    transition: opacity 1s;
    overflow-x:hidden;
}

.articleContainer{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--white);
    border-radius: 10px;
    width: 18vw;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

.article > img{
    height: 30vh;
    width: auto;
}

.article > h2{
    font-size: var(--normal-text-size);
    margin:1vh 2vw;
    font-weight:400;
}

.article > p{
    margin:1vh 2vw;
    font-weight: 300;
    font-size: 14px;
    color: var(--grayish-blue)
}

button{
    height: 6vh;
    width: 10em;
    color:white;
    appearance: none;
    border:none;
    border-radius: 50px;
    background: #31D341;
    background: linear-gradient(135deg, #31D341, #2BB7DA);
    font-weight: 700;
}

#mainSection{
    display:flex;
    background-color: white;
    padding-right: 0;
}

#featuresSection{
    background-color: var(--light-grayish-blue);
    padding-top: 15vh;
    padding-bottom: 15vh;
}

section{
    padding: 0 10vw;
    margin:0;
    opacity: 0;
    transition: opacity 1s;
}

.featuresContainer{
    padding-top: 10vh;
    display:flex;
    align-items: stretch;
    justify-content: space-between;
}

.feature{
    width: 15vw;
}

#featuresSection p{
    color: var(--grayish-blue)
}

#featuresSection h1,#featuresSection h2{
    font-weight: 400;
}

#featuresSsection h2{
    font-size: 24px;
}

#featuresSection h1{
    font-size: 30px;
}

#mainSection{
    height: 80vh;
    background-color: var(--very-light-gray);
    opacity: 1;
}

.leftContent{
    width: 30vw;
    height: 80vh;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#mainSection h1{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 2vh;
}

#mainSection p{
    color: var(--grayish-blue);
}

nav{
    top:0;
    position: sticky;
    height: 10vh;
    padding:0 10vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
    background-color: white;
}

nav > img{
    padding-right: 15vw;
}

nav > button{
    margin-left: auto;
}

nav > a{
    text-decoration: none;
    padding: 0 1vw;
    color: var(--grayish-blue);
}

#articleSection{
    background-color: var(--very-light-gray);
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.article > small{
    align-self: flex-start;
    padding-left: 2vw;
    padding-top: 3vh;
    color: var(--grayish-blue)
}

footer{
    background-color: var(--dark-blue);
    width: 100vw;
    height: 30vh;
}

.footer{
    height: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    align-items: center;
}

.socials{
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.links{
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 10vw;
    row-gap: 2vh;
    padding-left: 10vw;
}

.links > a{
    color: var(--light-grayish-blue);
    font-size: 14px;
    text-decoration: none;
}

.copyright{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-left:auto;
}

.copyright > p{
    color: var(--grayish-blue);
}

.baseGraphicContainer {
    position: absolute;
    top: -33vh;
    right: -7vw;
    width: 70vw;
    height: 137vh;
    background-image: url("images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    transform: scale(0.8);
}

nav > a:hover::after{
    transform:scaleX(1);
}

nav > a::after{content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: var(--lime-green);
    margin-top: 10px;
    transform: scaleX(0);
    transition: transform 0.5s;
}

nav > a:hover{
    color:black;
}

button:hover{
    background: linear-gradient(-45deg, #92fc9e, #91e4f9);
}

.article > h2:hover{
    color: var(--lime-green);
}

.links > a:hover{
    color: var(--lime-green);
}

.hamburger{
    display:none;
}

.mockupContainer{
    position: absolute;
    top:-15vh;
    right:0;
    width: 45vw;
    height: 200vh;
    z-index: 1;
    background-image: url("images/image-mockups.png");
    background-repeat: no-repeat;
}

.burgerContainer{
    position: fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    top: 10vh;
    height: 90vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(60, 64, 65, 0.8), rgba(0,0,0,0));
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s;
}

.dropList{
    margin-top: 5vh;
    width: 90vw;
    height: 40vh;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.dropList > a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: var(--dark-blue);
}

.icons > svg:hover > path{
    fill: var(--lime-green);
}

#articleSection > h1{
    text-align: center;
}

.icons > svg{
    padding: 5px;
}

@media only screen and (max-width:970px){
    nav{
        padding-right: 10px;
    }

    nav > img{
        padding-right: 3vw;
    }
}

@media only screen and (max-width: 670px){
    .links{
        grid-template-columns: auto;
        text-align: center;
    }
    .hamburger{
        display:block;
        background:white;
    }

    .hamburger:hover{
        background:white;
    }

    nav > a{
        display:none;
    }

    nav > button{
        display:none;
    }

    nav{
        padding-right:0;
    }

    footer{
        height: auto;
    }

    .socials{
        height: 20vh;
    }

    .footer{
        flex-direction: column;
    }

    .footer > div{
        padding: 2vh 0;
    }

    .copyright{
        align-items: center;
        margin-left:0;
    }

    .links{
        align-items: center;
    }

    .featuresContainer{
        flex-direction: column;
    }

    .feature{
        width: auto;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .articleContainer{
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .articleContainer > h1{
        text-align: center;
    }

    .article{
        width: 15em;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .baseGraphicContainer {
        top: 2vw;
        right: 0vw;
        width: 100vw;
        height: 100vw;
        position: absolute;
        background-image: url("images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transform: none;
    }

    .leftContent{
        width: auto;
        height: auto;
        align-items: center;
        flex-wrap:wrap;
        justify-content: end;
    }

    section{
        padding: 0 5vw;
    }

    .mockupContainer {
        top: -19vw;
        height: 113vw;
        width: 100vw;
        position: absolute;
        z-index: 1;
        background-image: url("images/image-mockups.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #mainSection{
        padding-left: 5vw;
        padding-right: 5vw;
        height:140vw;
        text-align: center;
        padding-bottom: 10vh;
    }

    #mainSection h1 {
        font-size: 35px;
        padding: 0 5vw;
    }

    #featuresSection h1,#featuresSection p{
        text-align: center;
    }
}